# @package _global_

# Meant for Alpasim development.
# A config for 8 GPU nodes which unlike the ORD default only places 1 endpoint per GPU.
# This is lower perf than the default but easier to analyze for performance.

services:
  sensorsim:
    environments:
      - OMP_NUM_THREADS=1

    gpus: [3, 4, 5, 6, 7]
    replicas_per_container: 1

  driver:
    replicas_per_container: 1
    gpus: [0]

  physics:
    replicas_per_container: 1
    gpus: [1]

  trafficsim:
    replicas_per_container: 1
    gpus: [2]

runtime:
  endpoints:
    sensorsim:
      n_concurrent_rollouts: 2

    driver:
      n_concurrent_rollouts: 10

    physics:
      n_concurrent_rollouts: 10
      skip: false

    trafficsim:
      n_concurrent_rollouts: 10
      skip: false
